{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
     {% for users in funds %}
    <p>Current Cash: $ {{users.cash}}</p>
    {% endfor %}
    <form action="/addcash" method="post">
        Add Cash
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="addcash" placeholder="Add Amount" type="number"/>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
