{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <p>Browse 1st File</p>
                <input type="file" name="file1">
            </div>

            <div class="form-group">
                <p>Browse 2nd File</p>
                <input type="file" name="file2">
                </br></br>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="algorithm" type="radio" value="lines"/>
                        Compare Lines
                        </br>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="algorithm" type="radio" value="sentences"/>
                        Compare Sentences
                        </br>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" name="algorithm" type="radio" value="substrings"/>
                        Compare substrings
                        </br>
                        <input class="form-control form-control-sm" min="1" name="length" placeholder="of length n" type="number"/>
                    </label>
                </div>
            </div>

            <button class="btn btn-default" type="submit">Compare</button>

        </form>
    </div>

{% endblock %}
